#login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-box {
    background: $main-color;
    color: #333;
    padding: 20px;
    width: 350px;
    border: 1px solid #D7DBDD;
    background-color: #FCFDFD;
    box-shadow: 0 0 3px #222;

    h1 {
      text-align: center;
      font-size: 28px;

      span {
        padding-left: 10px;
      }
    }

    form {
      margin-top: 50px;

      button {
        margin-top: 50px;
      }
    }

    .cadastro-link {
      margin-top: 10px;
    }
  }
}
