#login-container
  .login-box
    h1
      i.fa.fa-comments-o
      span BeeChat
    form(ng-submit='SignIn.login()', novalidate='novalidate')
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input#username.form-control(ng-model='SignIn.loginData.username', type='text', placeholder='Digite seu usuário', required)
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input#password.form-control(ng-model='SignIn.loginData.password', type='password', placeholder='Digite sua senha', required)
      button.btn.btn-lg.btn-block.btn-success Entrar
      p.text-center.cadastro-link
        a(ui-sref='signup') Sou novo usuário

